:root {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

#form {
  font-size: 1rem;
  margin-top: 1.5rem;
}

button,
textarea,
#notification {
  margin: auto;
  display: block;
}

button {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: orange;
}

#notification {
  margin-top: 1.5rem;
  text-align: center;
}

textarea:valid {
  border: 2px solid orange;
}