:root {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;  
  justify-items: center;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

textarea{
  min-width: 500px;
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

textarea:valid {
  border: 2px solid orange;
  resize: vertical;
}

button {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  width: 6rem;  
}

a {
  text-decoration: none;
  color: orange;
}

#notification {
  margin-top: 1.5rem;
  text-align: center;
}

@media (max-width: 500px) {
  .grid-container{
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: start;
  }
  .grid-container > div:not(:has(textarea)){
    display: none;
  }
  #app{
    justify-items: left;
  }
  h1{
    font-size: 1rem;
    text-align: left;
    margin-top: 0;
  }
  h2{
    font-size: 0.8rem;
    margin-top: 0;
    text-align: left;
  }
  button {
    margin-top: 0.5rem;
  }
  textarea{
    margin-top: 0.5rem;
    min-width: auto;    
  }
}