:root {
  /* vars */
  --main-text-color: black;
  --link-color: darkblue;

  --header-background: white;
  --footer-background: white;

  --small-padding: 2vh;

  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
  color: var(--main-text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;  
}

header {
  min-height: 10vh;
  background: var(--header-background);
  border-bottom: 1px solid var(--main-text-color);
  padding-top: calcvar(--small-padding);
}

footer {
  min-height: 3vh;
  background: var(--footer-background);
  border-top: 1px solid var(--main-text-color);

  text-align: center;
  font-size: small;
  font-weight: bold;
}

footer address {
  display: inline-block;
}

section {
  display: inline-block;
  margin: var(--small-padding);
  padding: 0 var(--small-padding);
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: var(--small-padding);
  font-size: 1rem;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

#js4testers div {
  margin-bottom: var(--small-padding);
  text-align: center;
}

@media (max-width: 500px) {
  section {
    display: block;  
  }
}