:root {
  /* vars */
  --main-text-color: black;
  --main-background-color: white;

  --header-background: white;
  --footer-background: white;

  --small-padding: 0.3rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text-color);
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 5vh;
  background: var(--header-background);
  border-bottom: 1px solid var(--main-text-color);
  padding: var(--small-padding) 0;
  margin-bottom: var(--small-padding);
}

footer {
  min-height: 3vh;
  background: var(--footer-background);
  border-top: 1px solid var(--main-text-color);

  text-align: center;
  font-size: small;
  font-weight: bold;
}

footer address {
  display: inline-block;
}

footer address a {
  color: black;
}


h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: var(--small-padding);
  font-size: 1rem;
  text-align: center;
}


/* card */
.section-title {
  font-size: 1.1rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0;
  align-items: end;
  justify-items: start;
  padding-right: var(--small-padding);
}

.section-subtitle {
  padding-bottom: 0.2rem;
}

section {
  display: inline-block;
  margin: var(--small-padding);
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  text-align: center;
}

section img {
  border-radius: 5px 0 0 0;
}

section a {
  display: block;
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  border-top: 1px solid yellow;
  padding: var(--small-padding);
  padding-left: calc(3*var(--small-padding));
  text-align: left;
}



@media (max-width: 500px) {

  h1,
  h2 {
    text-align: left;
    margin: 5px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

@media (max-width: 400px) {

  h1,
  h2 {
    text-align: left;
    margin: 5px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}